@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bangers&family=PT+Serif:ital,wght@1,700&family=Quicksand:wght@300;600&display=swap');

.rodape{
    text-align: center;
    font-size: 12px;
    padding: 24px  5%;
    background-color: var(--cabecalho);
}

.rodape_logo{
    width: 180px;
    margin-bottom: 16px;
}

.rodape_infos-empresa{
    line-height: 1.75;
    font-size: 15px;
    font-family: 'Alfa Slab One', cursive;
    font-family: 'Bangers', cursive;
    font-family: 'PT Serif', serif;
    font-family: 'Quicksand', sans-serif;
    color: #fff;
}
.rodape-titulo{
    font-size: 17px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 16px;
}

.rodape_item-lista{
    font-size: 15px;
    margin: 10px 0;
    text-align: center;
    font-family: 'Alfa Slab One', cursive;
    font-family: 'Bangers', cursive;
    font-family: 'PT Serif', serif;
    font-family: 'Quicksand', sans-serif;
    color: #fff;

}
@media(min-width: 640px) and (max-width: 1200px){
    .rodape{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        font-size: 16px;
    }

    .rodape_socao-sobre,
    .rodape_secao-links,
    .rodape_secao-newsletter{
        width: 60%;
    }

    .rodape_secao-links{
        order: 2;
        margin: 0;
        text-align: center;
    }

    .rodape_secao-sobre{
        order: 3;
        margin-top: 32px;
    }

    .rodape_secao-newsletter{
        order: 4;
        margin-top: 32px;
    }
}

    .rodape{
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        text-align: left;
    }

    .rodape_titulo{
        font-size: 15px;
        text-align: center;
        font-family: 'Alfa Slab One', cursive;
        font-family: 'Bangers', cursive;
        font-family: 'PT Serif', serif;
        font-family: 'Quicksand', sans-serif;
        color: #fff;
        text-align: center;
    }