@import url('/css/colors.css');

section.busca_container{
    height: 150px;
    background-color: var(--cabecalho);
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

