@import url('/css/colors.css');

section.busca_container{
    height: 150px;
    background-color: var(--cabecalho);
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
}

.formulario_de_busca label{
    color: var(--body);
}
.formulario_de_busca input{
    height: 50px;

}

.formulario_de_busca input[type="submit"]{
    width: 120px;
    color: var(--body);
    background-color: var(--cabecalho);
    border: 1px solid var(--pesquise);
}

.formulario_de_busca input[type="submit"]:hover{
    background-color: var(--pesquise);
}

.formulario_de_busca input[type="text"]{
    width: 30vw;
}