.slider {
  height: 30vh;
  background-color: black;
}

.carousel {
  position: relative;
  bottom: 80%;
  left: 25%;
  height: 300px;
  width: 30%;
}

.carousel-item > img {
  height: 100%;

  object-fit: contain;
}
