.slider {
  height: 150px;
  background-color: black;
}

.carousel {
  position: relative;
  bottom: 80px;
  left: 35%;
  height: 300px;
  width: 30%;
}

.carousel-item > img {
  height: 100%;

  object-fit: contain;
}
