.slider {
  height: 30vh;
  background-color: black;
}

.carousel {
  position: relative;
  top: -45px;
  height: 300px;
  width: 30%;
}

.carousel-item > img {
  height: 100%;

  object-fit: contain;
}
