.slider {
  height: 150px;
  background-color: black;
}

.carousel {
  position: relative;
  bottom: 150px;
  left: 35%;
  height: 300px;
  width: 200px;
}

.carousel-item > img {
  object-fit: contain;
}
